@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	Header {
		@apply text-[#E4E4E4];
	}
}

@layer utilities {
	/* WebKit only */
  .carousel-scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  
  .carousel-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #232123;
  }
  .carousel-scrollbar::-webkit-scrollbar-thumb {
    background: #ec4d4d;
    border-radius: 100vh;
    border: 3px solid #D63636;
  }
  
  /* Everything else */
  .os-df-carousel {
	--os-size: 20px !important;
	--os-track-border-radius: 100vh !important;
	--os-track-bg: #232123 !important;
	--os-handle-bg: #ec4d4d !important;
	--os-handle-border-radius: 100vh !important;
	--os-handle-border: 3px solid #D63636 !important;
	  
	/* things I had to set to override defaults unfortunately */
	--os-track-bg-hover: #232123 !important;
	--os-track-bg-active: #232123 !important;
	--os-handle-bg-hover: #ec4d4d !important;
	--os-handle-bg-active: #ec4d4d !important;
	--os-handle-border-hover: 3px solid #D63636 !important;
	--os-handle-border-active: 3px solid #D63636 !important;
  }
  
	em-emoji-picker {
        --background-rgb: 85, 170, 255;
        --border-radius: 24px;
        --category-icon-size: 24px;
        --color-border-over: rgba(0, 0, 0, 0.1);
        --color-border: rgba(0, 0, 0, 0.05);
        --font-family: 'Comic Sans MS', 'Chalkboard SE', cursive;
        --font-size: 20px;
        --rgb-accent: 255, 105, 180;
        --rgb-background: 262, 240, 283;
        --rgb-color: 102, 51, 153;
        --rgb-input: 255, 235, 235;
        --shadow: 5px 5px 15px -8px rebeccapurple;

        height: 50vh;
        min-height: 400px;
        max-height: 800px;
	}
}

/* Multi-range sliders */
input[type="range"]::-webkit-slider-thumb {
  @apply pointer-events-auto;
  @apply w-5;
  @apply h-5;
  @apply rounded-full;
  @apply appearance-none;
  @apply bg-[#232123];
  @apply cursor-pointer;
}